<!DOCTYPE html>
<html>
  <head>
    <title>Class Analysis</title>
    <style type="text/css">
      .green-row td {
        background-color: #17ff4d !important;
      }
      .red-row td {
        background-color: #ff071c !important;
      }
      .orange-row td {
        background-color: #ffc70f !important;
      }
    </style>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
  </head>
  <body>
    [[nav]]

    <div class="row justify-content-center px-5">
      <table table class="table table-bordered table-hover" style="width: 100%">
        <thead class="table-light">
          <tr>
            <td>Type</td>
            <td>Count</td>
            <td>Depth</td>
            <td>Page Rank</td>
            <td>Reverse Page Rank</td>
            <td>Elimination Round</td>
            <td>Keep</td>
          </tr>
        </thead>
        <tbody>
          [[class_anal]]
        </tbody>
      </table>
    </div>
  </body>
</html>
