<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <title>SPARQL Scripts</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    [[nav]]
    <div class="container mt-5">
      <div class="row justify-content-center my-5">
        <div style="margin-bottom: 20px">
          <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
              <h3 class="mb-0">Merge Entities</h3>
            </div>
            <div class="card-body">
              <form id="merge" method="get" class="column g-3">
                <div>
                  <label for="entityInput" class="form-label"
                    >Entity Type</label
                  >
                  <input
                    type="text"
                    name="entity"
                    id="entityInput"
                    class="form-control"
                    placeholder="&lt;http://schema.org/Book&gt;"
                    required
                  />
                </div>
                <div>
                  <label for="mergebyInput" class="form-label">Merge by</label>
                  <input
                    type="text"
                    name="mergeby"
                    id="mergebyInput"
                    class="form-control"
                    placeholder="&lt;http://schema.org/name&gt;, &lt;http://schema.org/author&gt;"
                  />
                  <div class="form-text">
                    Separate multiple keys with commas
                  </div>
                </div>
                <div class="col-12 text-end">
                  <button class="btn btn-primary" type="submit">Merge!</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <form id="sparql-form">
        [[script_cards]]<button type="submit" class="btn btn-primary mt-4">
          > Run Selected
        </button>
      </form>
    </div>
    <script>
      function toggleProcedure(checkbox) {
        // const preId = checkbox.dataset.id;
        // const block = document.getElementById(preId);
        // if (block) {
        //   block.style.display = checkbox.checked ? "block" : "none";
        // }
      }
      function toggleFile(fileCheckbox) {
        const fileName = fileCheckbox.dataset.file;
        const checkboxes = document.querySelectorAll(
          `.file-proc[data-file="${fileName}"]`
        );

        checkboxes.forEach((cb) => {
          cb.checked = fileCheckbox.checked;
          toggleProcedure(cb);
        });
      }
      function runSelected() {
        const checked = Array.from(
          document.querySelectorAll(".file-proc:checked")
        ).map((cb) => cb.name);
        alert("Would run: " + checked.join(", "));
      }
    </script>
  </body>
</html>
